<meta charset="utf-8">
<title>{{ page.title }} | {{ meta.sitename }}</title>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
<script async src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{meta.siteurl}}/assets/style.css">
<meta name="description" content="{{ meta.description }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="{{ meta.keywords }}">
<meta name="author" content="Chris Cagle">
<link rel="shortcut icon" type="image/png" href="http://get-simple.info/GSSW/gssw_assets/images/favicon.png"/>

<meta property="og:site_name" content="{{meta.og.site_name}}" /> 
<meta property="og:title" content="{{meta.og.title}}" />
<meta property="og:image" content="{{meta.og.image}}" /> 
<meta property="og:type" content="{{meta.og.type}}" /> 
<meta property="og:description" content="{{meta.og.description}}" />

<meta name="robots" content="{{meta.robots}}" />
{{#> head}}
{{/head}}